{
  "cache": false,
  "check-coverage": true,
  "lines": 90,
  "functions": 85,
  "branches": 70,
  "statements": 90,
  "report-dir": "./reports/coverage",
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "reports/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.test.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "lcov",
    "text",
    "text-summary",
    "html"
  ],
  "all": true,
  "instrument": true
}